.Post {
    color: maroon;
    margin-bottom: 20px;
    border: dashed lightcoral 1px;


}

.Post img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.like {
    color: red;
    font-size: small;
}

.likeCounter {
    color: black;
}

.PostItem {
    margin-top: 20px;

}
