.FriendsPanelSmall {
    /*border: dashed black 1px;*/

}

.FriendsPanelSmall a {
    color: lightgoldenrodyellow;
    text-decoration: none;

}

.FriendsPanelSmall a.active {
    color: lightsalmon;
}

.FriendsPanelSmallItem {
    display: inline-block;
    /*border: dashed palevioletred 1px;*/
    margin: 3px;
    /*border: dashed black 1px;*/
}

.FriendsPanelSmall img {
    width: 64px;
    border-radius: 50%;
}
