.user {
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px dashed lightcoral;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 190px;
    height: 300px;
    display: inline-grid;
    position: relative;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.location {
    text-align: right;
    margin-right: 20px;
}

.button {
    width: 80px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;

}

.pagination {
    margin-top: 10px;
    text-align: center;
    /*border: solid black 1px;*/

}

.currentPage {
    font-weight: bold;

}

.pagination > div {
    display: inline-block;
    cursor: pointer;
    /*border: solid black 1px;*/
    width: 30px;
    height: 30px;
    user-select: none;
}

